<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<ul>
    <li style="float:right"><a th:href="@{logout}">Log Out</a></li>
    <li style="float:right"><a class="active" th:href="@{account}">Account</a></li>
    <li style="float:left"><a th:href="@{wishListHub}">WishListHub</a></li>
    <li style="float:left"><a th:href="@{registerWish}">Create Wish</a></li>
    <li style="float:left"><a th:href="@{wish}">Your WishList</a></li>
</ul>
<h1 class="accountText">Account</h1>

<div class="container">
    <p class="text">Account Name: <span th:text="${user.getAccountName()}"> </span></p>
    <p class="text">Name: <span th:text="${user.getName()}"> </span></p>
    <p class="text">Email: <span th:text="${user.getEmail()}"> </span></p>
</div>

<form action="/deleteAccount" method="post">
    <div class="deletebutton">
        <p class="text"> Delete Account: <pre> <input type="text" required placeholder="Account Name" th:name="accountName"> </pre> <br>
        <input type="submit" value="Delete">
    </div>
</form>

</body>
</html>