<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
    <head>
        <link rel="stylesheet" th:href="frontPage.css">
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="icon" href="https://apps.shopifycdn.com/listing_images/34ae0275ebf361b3f6135ce614b37b6e/icon/9dfb71723120e80811826bdaaf5e279d.png" type="image"/>
    </head>
    <body>
    <ul>
        <li style="float:left"><a th:href="@{frontPage}">Home</a></li>
        <li style="float:right"><a class="active" th:href="@{login}">Login</a></li>
        <li style="float:right"><a th:href="@{register}">Create User</a></li>
    </ul>
        <div class="login">
            <h1>Welcome to WishList</h1>
            <div class="loginform">
                <P>Enter login information</P>
                <form action="/login" method="post">
                    <input type="text" name="accountName" required placeholder="Account Name">
                    <div class="field">

                </div>
                <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </body>
</html>