<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<h1 class="registerText">Register as a user of WishList</h1>

<form action="/createRegister" method="post">
    <div class="registrationForm">
        Account Name: <pre> <input id="1" type="text" name="accountName"> </pre> <br>
        Name: <pre> <input id type="text" name="name"> </pre> <br>
        E-Mail: <pre> <input type="email" name="email"> </pre> <br>
        <input type="submit" value="Create User">

    </div>
</form>

</body>
</html>