<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register Wish Page</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<ul>
    <li style="float:right"><a th:href="@{logout}">Log Out</a></li>
    <li style="float:right"><a th:href="@{account}">Account</a></li>
    <li style="float:left"><a th:href="@{wishListHub}">WishListHub</a></li>
    <li style="float:left"><a  class="active"th:href="@{registerWish}">Create Wish</a></li>
    <li style="float:left"><a th:href="@{wishList}">Your WishList</a></li>
</ul>
<h1 class="registerText">Register a wish</h1>

<form action="/createWish" method="post">
    <div class="registrationForm">
        Wish Name: <pre> <input type="text" name="wishName"> </pre> <br>
        Wish Comment: <pre> <input type="text" name="wishComment"> </pre> <br>
        Wish Link: <pre> <input type="url" name="wishLink"> </pre> <br>
        Wish Rank: <pre> <input type="number" name="wishRank"> </pre> <br>
        Wish Price: <pre> <input type="number" name="wishPrice"> </pre> <br>
        <input type="submit" value="Create Wish">

    </div>
</form>

</body>
</html>