<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="frontPage.css">
    <meta charset="UTF-8">
    <title>Register Account Page</title>
    <link rel="icon" href="https://apps.shopifycdn.com/listing_images/34ae0275ebf361b3f6135ce614b37b6e/icon/9dfb71723120e80811826bdaaf5e279d.png" type="image"/>
</head>
<body>
<ul>
    <li style="float:left"><a th:href="@{frontPage}">Home</a></li>
    <li style="float:right"><a th:href="@{login}">Login</a></li>
    <li style="float:right"><a class="active" th:href="@{register}">Create User</a></li>
</ul>
<h1 class="registerText">Create an account</h1>

<form action="/doRegister" method="post">
    <div class="registrationForm">
        Account Name: <pre> <input type="text" th:name="accountName"> </pre> <br>
        Name: <pre> <input type="text" th:name="name"> </pre> <br>
        E-Mail: <pre> <input type="email" th:name="email"> </pre> <br>
        <input type="submit" value="Create Account">

    </div>
</form>

</body>
</html>