<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link rel="stylesheet" href="frontPage.css">
  <meta charset="UTF-8">
  <title>Account Page</title>
  <link rel="icon" href="https://apps.shopifycdn.com/listing_images/34ae0275ebf361b3f6135ce614b37b6e/icon/9dfb71723120e80811826bdaaf5e279d.png" type="image"/>
</head>
<body>
<h1 class="accountText">Wishlist Database</h1>
<tr th:each="user : ${userList}">
  <div class="container">
    <p class="text">Account Name: <span th:text="${user.accountName}"> </span></p>
    <p class="text">Name: <span th:text="${user.name}"> </span></p>
    <p class="text">Email: <span th:text="${user.email}"> </span></p>
  </div>

</body>
</html>