<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link rel="stylesheet" href="frontPage.css">
  <meta charset="UTF-8">
  <title>Wish Page</title>
  <link rel="icon" href="https://apps.shopifycdn.com/listing_images/34ae0275ebf361b3f6135ce614b37b6e/icon/9dfb71723120e80811826bdaaf5e279d.png" type="image"/>
</head>
<body>
<ul>
  <li style="float:right"><a th:href="@{logout}">Log Out</a></li>
  <li style="float:right"><a th:href="@{account}">Account</a></li>
  <li style="float:left"><a th:href="@{wishListHub}">WishListHub</a></li>
  <li style="float:left"><a th:href="@{registerWish}">Create Wish</a></li>
  <li style="float:left"><a class="active" th:href="@{wish}">Your WishList</a></li>
</ul>
<h1 class="wishText">Your Wish</h1>

<tr th:each="userWishList : ${userWishList}">
  <div class="container">
    <p class="text">Wish Rank: <span th:text="${userWishList.wishRank}"> </span></p>
    <p class="text">Account Name: <span th:text="${userWishList.getAccountName()}"> </span></p>
    <p class="text">Wish Name: <span th:text="${userWishList.wishName}"> </span></p>
    <p class="text">Wish Comment: <span th:text="${userWishList.wishComment}"> </span></p>
    <p class="text">Wish Link: <span th:text="${userWishList.wishLink}"> </span></p>
    <p class="text">Wish Price: <span th:text="${userWishList.wishPrice}"> </span></p>
    <p class="text">Wish number: <span th:text="${userWishList.wishID}"> </span></p><br><br>
  </div>
</tr>
<form action="/deleteWish" method="post">
  <div class="deletebutton">
  <p class="text"> Delete wish: <pre> <input type="number" required placeholder="Wish Number" th:name="wishID"> </pre> <br>
  <input type="submit" value="Delete">
  </div>
</form>
</body>
</html>