body {
    color: #ffffff;
}

header {
    text-align: center;
}

main {
    margin: 12px;
    max-width: 540px;
    margin: auto;
}

html {
    /*background: url('https://wallpapermemory.com/uploads/180/cloud-background-full-hd-1920x1080-86133.jpg') no-repeat center center fixed;*/
    /*background: url('https://cdn.wallpapersafari.com/49/5/IUjzQv.jpg') no-repeat center center fixed;*/
    /*background: url('https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg?size=626&ext=jpg') no-repeat center center fixed;*/
    /*background: url('https://cdn.pixabay.com/photo/2018/01/25/11/25/background-3105920_960_720.jpg') no-repeat center center fixed;*/
    background: url('https://wallpaperaccess.com/full/1382446.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 100%;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #c85f7b;
    /*background-color: #4CAF50;*/
}